## Initial EDA for the 5 Datasets of happiness

In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../")
print(os.getcwd())

c:\Users\valen\Desktop\etl_workshop003

In [3]:
df_2015 = pd.read_csv("data/2015.csv")
df_2016 = pd.read_csv("data/2016.csv")
df_2017 = pd.read_csv("data/2017.csv")
df_2018 = pd.read_csv("data/2018.csv")
df_2019 = pd.read_csv("data/2019.csv")

Explain columns here:
This data is from the world hapinness data

#### 2015

In [4]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
df_2015.columns = df_2015.columns.str.lower()

Withe info() method we validate null values, df shape, coolumns data types, columns

In [6]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        158 non-null    object
 1   region                         158 non-null    object
 2   happiness rank                 158 non-null    int64
 3   happiness score                158 non-null    float64
 4   standard error                 158 non-null    float64
 5   economy (gdp per capita)       158 non-null    float64
 6   family                         158 non-null    float64
 7   health (life expectancy)       158 non-null    float64
 8   freedom                        158 non-null    float64
 9   trust (government corruption)  158 non-null    float64
 10  generosity                     158 non-null    float64
 11  dystopia residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [7]:
df_2015.describe()

,happiness rank,happiness score,standard error,economy (gdp per capita),family,health (life expectancy),freedom,trust (government corruption),generosity,dystopia residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

Extracting columns

Based in a country given that there should be a record per country

In [8]:
print(f"Number of duplicates: {df_2015.duplicated(subset ='country').sum()}")

Number of duplicates: 0

### 2016

In [9]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [10]:
df_2016.columns = df_2016.columns.str.lower()

In [11]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        157 non-null    object
 1   region                         157 non-null    object
 2   happiness rank                 157 non-null    int64
 3   happiness score                157 non-null    float64
 4   lower confidence interval      157 non-null    float64
 5   upper confidence interval      157 non-null    float64
 6   economy (gdp per capita)       157 non-null    float64
 7   family                         157 non-null    float64
 8   health (life expectancy)       157 non-null    float64
 9   freedom                        157 non-null    float64
 10  trust (government corruption)  157 non-null    float64
 11  generosity                     157 non-null    float64
 12  dystopia residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [12]:
df_2016.describe()

,happiness rank,happiness score,lower confidence interval,upper confidence interval,economy (gdp per capita),family,health (life expectancy),freedom,trust (government corruption),generosity,dystopia residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [13]:
print(f"Number of duplicates: {df_2016.duplicated(subset ='country').sum()}")

Number of duplicates: 0

### 2017

In [14]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [15]:
df_2017.columns = df_2017.columns.str.lower()

In [16]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        155 non-null    object
 1   happiness.rank                 155 non-null    int64
 2   happiness.score                155 non-null    float64
 3   whisker.high                   155 non-null    float64
 4   whisker.low                    155 non-null    float64
 5   economy..gdp.per.capita.       155 non-null    float64
 6   family                         155 non-null    float64
 7   health..life.expectancy.       155 non-null    float64
 8   freedom                        155 non-null    float64
 9   generosity                     155 non-null    float64
 10  trust..government.corruption.  155 non-null    float64
 11  dystopia.residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [17]:
df_2017.describe()

,happiness.rank,happiness.score,whisker.high,whisker.low,economy..gdp.per.capita.,family,health..life.expectancy.,freedom,generosity,trust..government.corruption.,dystopia.residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [18]:
print(f"Number of duplicates: {df_2017.duplicated(subset ='country').sum()}")

Number of duplicates: 0

### 2018

In [19]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [20]:
df_2018.columns = df_2018.columns.str.lower()

In [21]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   overall rank                  156 non-null    int64
 1   country or region             156 non-null    object
 2   score                         156 non-null    float64
 3   gdp per capita                156 non-null    float64
 4   social support                156 non-null    float64
 5   healthy life expectancy       156 non-null    float64
 6   freedom to make life choices  156 non-null    float64
 7   generosity                    156 non-null    float64
 8   perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

Note that there´s 1 null value in perceptions of corruptionn

In [22]:
df_2018.describe()

,overall rank,score,gdp per capita,social support,healthy life expectancy,freedom to make life choices,generosity,perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [23]:
print(f"Number of duplicates: {df_2018.duplicated(subset ='country or region').sum()}")

Number of duplicates: 0

### 2019

In [24]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [25]:
df_2019.columns = df_2019.columns.str.lower()

In [26]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   overall rank                  156 non-null    int64
 1   country or region             156 non-null    object
 2   score                         156 non-null    float64
 3   gdp per capita                156 non-null    float64
 4   social support                156 non-null    float64
 5   healthy life expectancy       156 non-null    float64
 6   freedom to make life choices  156 non-null    float64
 7   generosity                    156 non-null    float64
 8   perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [27]:
df_2019.describe()

,overall rank,score,gdp per capita,social support,healthy life expectancy,freedom to make life choices,generosity,perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [28]:
print(f"Number of duplicates: {df_2019.duplicated(subset ='country or region').sum()}")

Number of duplicates: 0

## Merge

Explicar que significan las columnas eliminadas

First, eliminate columns that are not in every dataset and cannot be imputed or just implicate redundancy of info.

In [29]:
df_2015= df_2015.drop(columns=["happiness rank", "region", "standard error", "dystopia residual"])
df_2016= df_2016.drop(columns=["happiness rank", "region", "lower confidence interval", "upper confidence interval", "dystopia residual"])
df_2017= df_2017.drop(columns=["happiness.rank", "whisker.high", "whisker.low", "dystopia.residual"])
df_2018= df_2018.drop(columns="overall rank")
df_2019= df_2019.drop(columns="overall rank")

In [30]:
rename_dict = {
    "country or region": "country",
    "score": "happiness_score",
    "happiness score": "happiness_score",
    "happiness.score": "happiness_score",
    "economy (gdp per capita)": "gdp_per_capita",
    "gdp per capita": "gdp_per_capita",
    "economy..gdp.per.capita.": "gdp_per_capita",
    "family": "social_support",
    "social support": "social_support",
    "health (life expectancy)": "healthy_life_expectancy",
    "healthy life expectancy": "healthy_life_expectancy",
    "health..life.expectancy.": "healthy_life_expectancy",
    "freedom to make life choices": "freedom",
    "trust (government corruption)": "perceptions_of_corruption",
    "trust..government.corruption.": "perceptions_of_corruption",
    "perceptions of corruption":"perceptions_of_corruption"
}

df_2015 = df_2015.rename(columns=rename_dict)
df_2016 = df_2016.rename(columns=rename_dict)
df_2017 = df_2017.rename(columns=rename_dict)
df_2018 = df_2018.rename(columns=rename_dict)
df_2019 = df_2019.rename(columns=rename_dict)

In [31]:
print("Updated Column Names:")
print(df_2015.columns.tolist())

Updated Column Names:
['country', 'happiness_score', 'gdp_per_capita', 'social_support', 'healthy_life_expectancy', 'freedom', 'perceptions_of_corruption', 'generosity']

In [32]:
print("Updated Column Names:")
print(df_2017.columns.tolist())

Updated Column Names:
['country', 'happiness_score', 'gdp_per_capita', 'social_support', 'healthy_life_expectancy', 'freedom', 'generosity', 'perceptions_of_corruption']

In [33]:
df_2015["year"] = 2015
df_2016["year"] = 2016
df_2017["year"] = 2017
df_2018["year"] = 2018
df_2019["year"] = 2019

In [35]:
dataframes = [df_2015, df_2016, df_2017, df_2018, df_2019]
df = pd.concat(dataframes)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 782 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    782 non-null    object
 1   happiness_score            782 non-null    float64
 2   gdp_per_capita             782 non-null    float64
 3   social_support             782 non-null    float64
 4   healthy_life_expectancy    782 non-null    float64
 5   freedom                    782 non-null    float64
 6   perceptions_of_corruption  781 non-null    float64
 7   generosity                 782 non-null    float64
 8   year                       782 non-null    int64
dtypes: float64(7), int64(1), object(1)
memory usage: 61.1+ KB

In [39]:
df.to_csv("data/merged_data.csv")